#root {
  margin: 30px;
  padding: 30px;
}

.search {
  font-size: 1.25em;
}

.mag_img {
  width: 20px;
  /* height: 20px; */
  margin: 10px;
}

.search_input {
  border: none;
  background-color: transparent;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.25em;
}

.search_input:focus {
  border: none;
  background-color: transparent;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.25em;
}

.search_bar {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 15px;
  width: 400px;
  border: 2px solid white;
  border-radius: 30px;
}

.title {
  font-size: 2.5em;
}

#info {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.details {
  padding: 20px;
  border-radius: 30px;
  margin: 10px;
  width: 300px;
  background-color: rgb(160, 54, 192);
}

.movie_list {
  margin: 10px;
  width: 300px;
}

.content {
  display: flex;
}

/* button {
  /* height: 150px;  */